<main class="body">
<p class="body__texto">  posuere libero. Vestibulum viverra sit amet lacus quis faucibus. Proin rhoncus, ante id rhoncus scelerisque, massa ex consequat leo, id luctus enim diam eu felis. Maecenas maximus felis egestas mi scelerisque ultrices. Phasellus eget orci pellentesque, mollis justo dapibus, ornare nibh. Aliquam molestie interdum purus, sagittis ornare ante tincidunt ac. Proin imperdiet sit amet nibh nec iaculis.</p>
<img class="body__imguno" src="../../assets/media/grafico1.jpg" alt="">
<img src="../../assets/media/grafico2.jpg" alt="">
<p class="body__texto">posuere libero. Vestibulum viverra sit amet lacus quis faucibus. Proin rhoncus, ante id rhoncus scelerisque, massa ex consequat leo, id luctus enim diam eu felis. Maecenas maximus felis egestas mi scelerisque ultrices. Phasellus eget orci pellentesque, mollis justo dapibus, ornare nibh. Aliquam molestie interdum purus, sagittis ornare ante tincidunt ac. Proin imperdiet sit amet nibh nec iaculis.</p>

</main>