*{--primario: #9c27b0;
    --primarioscuro: #89119d;  
    --secundario: #ffce00;
    --secundarioscuro: rgb(233,287,2);
    --blanco: #fff;
    --negro: #000;
    
    --FuentePrincipal: 'Staatliches', cursive;
    }
    
    html{
        box-sizing: border-box;
        font-size: 62.5%; /*1 rem = 10 px*/
    }
    
    *, *:before, *:after {
        box-sizing: inherit;
    }
