:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris:#757575;
    --grisClaro:#dfe9f3;

    --fuente-principal: 3.8rem;
}
/*Globales*/
html{
    font-size: 62.5%;
    box-sizing: border-box;/*hack para boxmode*/
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    font-size: 16px;/*1 rem= 10px*/
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top,var(--primario) 0%, var(--blanco)100%);
    
}
/*Tipografia*/
h1{
    font-size: 3.8rem;
    color: var(--primario);
}
h2{
    font-size: 2.8rem;
}
h1, h2{
    text-align: center; 
}
/*botones*/
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;  
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5rem;
    width: 90%;
    text-align: center;
    border: none;
   
}
.boton :hover{
    cursor: pointer;
}
.botonera{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
    
}
/*imagen*/
.imagen{
    margin-top: 2rem;
}
#imagen-cambiante {
    margin: 2rem 0rem 0rem 50rem;
    min-height: 290px;
    min-width: 290px;
    background: url(http://programandoointentandolo.com/ejemplos/imagenes/cubo/img1.png) no-repeat;
}

#imagen-cambiante:hover {
    background: url(http://programandoointentandolo.com/ejemplos/imagenes/cubo/img6.png) no-repeat;
}