<form action="">
    <label for="">Nombre</label>
    <input class="input-text" id="nombreAñadir" type="text" placeholder="Nombre">

    <label for="">Apellidos</label>
    <input class="input-text" id="apellidosAñadir" type="text" placeholder="Apellidos">

    <label for="">Asunto</label>
    <input class="input-text" id="asuntoAñadir" type="text" placeholder="Asunto">

    <label for="">Correo</label>
    <input class="input-text" id="correoAñadir" type="email" placeholder="Email">

    <div class="campo">
                <label for="">Mensaje</label>
                <textarea class="input-text" ></textarea>
            </div>

<input class="boton" type="submit" value="Enviar">
</form>
