<form action="htpps://regres.in/api/users" id="inicio" method="post" class="colorSwap">

    <label for="">Usuario</label>
    <input class="input-text" id="asuntoAñadir" type="text" placeholder="Usuario">

     <label for="">Contraseña</label>
    <input class="input-text" id="passAñadir" type="password" placeholder="Correo">

    <label for="">Correo</label>
    <input class="input-text" id="correoAñadir" type="email" placeholder="Email">


<input class="boton" type="submit" value="Enviar">

</form>
